<%= form_with(model: disbursement_request, local: true) do |form| %>
  <% if disbursement_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disbursement_request.errors.count, "error") %> prohibited this disbursement_request from being saved:</h2>

      <ul>
      <% disbursement_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
