<h1>Editing Disbursement Request</h1>

<%= render 'form', disbursement_request: @disbursement_request %>

<%= link_to 'Show', @disbursement_request %> |
<%= link_to 'Back', disbursement_requests_path %>
