<h1>Editing Disbursement Transaction Log</h1>

<%= render 'form', disbursement_transaction_log: @disbursement_transaction_log %>

<%= link_to 'Show', @disbursement_transaction_log %> |
<%= link_to 'Back', disbursement_transaction_logs_path %>
